.App {
  text-align: center;
  color: white;
}

.section {
  flex: 1;
  overflow-y: auto;
  height: 100vh;
  display: flex;
}

.section-3 {
  background-color: blue;
}

.section-4 {
  background-color: #d0d0d0;
}

.section-5 {
  color: green;
}

.App-logo {
  height: 70vmin;
  pointer-events: none;
}

.App-header {
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-text {
  font-family: "Fixedsys 62", sans-serif;
}

.App-gradient-button {
  margin: 10px;
  font-family: "Fixedsys 62", sans-serif;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  border: none;
  width: 18rem;
  padding: 0.75rem;
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(
    to right,
    #1fbeffff 0%,
    #d80eefff 51%,
    #fe0247ff 100%
  );
}

.App-gradient-button:hover {
  background-position: right center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.App-bottom-page {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

.App-bottom-text {
  margin: 0;
  font-size: 35px;
  color: #4c4c4c;
  font-family: "Charlemagne Std", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-bottom-text p {
  margin: 0;
  font-size: 20px;
  letter-spacing: -2px;
  margin-right: 1rem;
  color: #4c4c4c;
  font-family: "Charlemagne Std", sans-serif;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.App-title {
  font-size: 40px;
  font-family: "Charlemagne Std", sans-serif;
  justify-content: center;
}

.App-title .App-text-with-icon {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #b10303;
}

.App-title .App-text-with-icon span {
  font-size: 3rem;
}

.App-title .App-text-with-icon .App-span-second {
  font-size: 8rem !important;
  margin-left: 2rem;
}

.App-title .App-text-with-icon .App-fire-img {
  height: 5rem;
}

.App-text-bigger {
  font-size: 45px;
  font-family: "Charlemagne Std", sans-serif;
  justify-content: center;
}

.App-img-center {
  height: 21rem;
  width: 23rem;
}

.App-img-center img,
.App-img-center-smaller img {
  height: inherit;
  width: fit-content;
}

.App-img-center-smaller {
  height: 10rem;
}

.App-page-3 .App-title {
  font-size: 37px;
  padding: 0 16rem;
  letter-spacing: -2px;
}

.App-page-3 .App-img-center {
  height: 31rem;
  width: 33rem;
}

.App-page-4 ul {
  list-style-type: none;
  text-align: left;
  font-family: "Charlemagne Std", sans-serif;
  font-size: 30px;
}

.App-page-4 li {
  margin-bottom: 0.5rem;
}

.App-page-4 li img {
  height: 1.75rem;
  margin-right: 0.5rem;
}

.App-red-text {
  color: #b10303;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
